.icon {
    font-size: 10em;
    margin: 0.1em;
    text-align: center;
}

img {
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #BBB;
}

.container {
    margin-top: 4em;
}

.container:first-child {
    margin-top: 1em;
}

h1 {
    margin-bottom: 0.8em;
}
