body {
    text-align: center;
}

table {
    border-collapse: collapse;
    float: right;
}

td, th {
    padding: 5px;
    text-align: left;
}

th {
    border-bottom: 1px solid gray;
}

tr:nth-child(2n+3) {
    background: #F0F0F3;
}

.btn {
    cursor: pointer;
    border-radius: 3px;
    padding: 3px;
    text-decoration: none;
}

.bitcoin {
    background-color: #F7931A;
    color: #FFF;
}

.paypal {
    background-color: #00457C;
    color: #FFF;
}

.error {
    cursor: default;
    background-color: #FF0000;
    color: #FFF;
}

#qrText {
    margin: 1em;
}

#qrImg {
    margin-left: auto;
    margin-right: auto;
}

.escrowHelper {
    font-size: 0.8em;
}
